.signup-container{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
}
.signup-img{
    width: 50%;
    height: 100%;
    background-image: url("../Signup/cfa64dfe957d54d3c4b5024f80cd98e9.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}
.signupform{
    margin-left: 100px;
    margin-top: 40px;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.signup-txt{
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 159, 156);
}
.google{
    width: 267px;
    height: 32px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
}
.google a {
    color: rgb(0, 159, 156);
    letter-spacing: 1px;
    font-size: 14px;
}
.or-txt{
    margin-left: 115px;
    color: rgb(0, 159, 156);
}

.fullname{
    width: 260px;
    height: 30px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
    margin-top: 4px;
}

.password{
    width: 260px;
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
}
.confirm{
    width: 260px;
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
}
.email2{
    width: 260px;
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
}
.signup{
    width: 267px;
    height: 32px;
    margin-top: 20px;
    background-color: transparent;
    border: solid 1.5px rgb(0, 159, 156);
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 159, 156);
}
.signintxt{
    font-size: 12px;
    margin-left: 78px;
    color: rgb(0, 159, 156);
}